h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 { 
    font-weight: 700;
    margin-bottom: 65px;
    display: flex;
}

.light {
    font-weight: 300;
}

.banner { 
    background-image: url(/images/aerea\ san\ antonio.png);
    background-size: cover;
    background-position: bottom center;
    min-width: 320px;
    max-width: 100%;
    min-height: 410px;
    max-height: 650px;
}

.cifras {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h2 {
    text-align: center;
}
.cifras-list { 
    display: flex;
    flex-wrap: wrap;
}