h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Roboto Condensed', sans-serif;
}

.container { 
    color: white;
}

.geoinfo {
    width: 100%;
    position: absolute;
    background-color: black;
}

.menu-mini { 
    text-align: right;
    position: relative;
}

.geoinfo p {
    display: inline-flex;
    padding-right: 1em;
}

h1 { 
    display: inline-flex;
    flex-direction: row;
    font-weight: 700;
    grid-row-start: 2;
    grid-column-end: 3;
}

.light {
    font-weight: 300;
}

.banner { 
    background-image: linear-gradient(to top, black, transparent), url(images/aerea\ san\ antonio.png);
    background-size: cover;
    background-position: bottom center;
    min-width: 320px;
    max-width: 100%;
    min-height: 520px;
    color: white;
    display: grid;
    grid-template-columns: minmax(2%, 10%) auto minmax(2%, 10%);
    grid-template-rows: 70% 20% 10%;
}

.banner h1,
.menu-completo { 
    grid-column-start: 2;
    grid-column-end: 3;
}

.caption { 
    text-align: right;
    grid-column-end: 3;
}

.menu-completo {
     margin-top: 2em;
     display: flex;
     flex-direction: row;
     grid-row-start: 4;
}

.menu-completo a {
    height: 2em;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: auto;
    padding: 2em 1em;
    border: 1px solid whitesmoke;
}

a {
    color: white;
    text-decoration: none;
  }

.menu-completo a:hover{ 
    background-color: #1fbbeb;
}

.cifras {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h2 {
    text-align: center;
}
.cifras-list { 
    display: flex;
    flex-wrap: wrap;
}