h1,
h2,
h3,
h4,
p,
a,
span {
    font-family: 'Roboto Condensed', sans-serif;
}


.banner { 
    background-image: linear-gradient(to top, black, transparent), url(images/aerea\ san\ antonio.png);
    background-size: cover;
    background-position: bottom center;
    min-width: 320px;
    max-width: 100%;
    min-height: 520px;
    color: white;
    display: grid;
    grid-template-columns: minmax(2%, 10%) auto minmax(2%, 10%);
    grid-template-rows: 4fr 2fr 1fr;
}

.banner .titulo,
.menu-completo,
.container,
.caption { 
    grid-column-start: 2;
    grid-column-end: 3;
}

.container { 
    width: 100%;
    grid-row-start: 1;
    display: inline;
}

.container img {
    height: 5em;
    width: fit-content;
}

.barra-negra-atras { 
    grid-column: 1/4;
    grid-row-start: 1;
    width: 100%;
    height: 2.6rem;
    background-color: black;
}

.geoinfo {
    margin-left: 3em;
    display: inline-flex;
    flex-direction: row;
    position: absolute;
}

.menu-mini { 
    text-align: right;
    font-weight: 300;
    text-transform: uppercase;
}

.menu-mini a {
    font-size: 0.8rem;
    padding: 1em;
}

.geoinfo p {
    font-weight: 300;
    display: inline-flex;
    padding-right: 1em;
}

.titulo { 
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

strong { 
    font-weight: 700;
}

h1 { 
    font-weight: 300;
    flex-basis: content;
    font-size: 3rem;
    line-height: 1.15;
}

.light {
    font-weight: 300;
}

.caption { 
    text-align: right;
    font-weight: 300;
    grid-row-end: 4;
}

.menu-completo {
     margin-top: 2em;
     display: flex;
     flex-direction: row;
     grid-row-start: 4;
}

.menu-completo a {
    height: 2em;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: auto;
    padding: 2em 1em;
    border: 1px solid #40979760;
}

@media (max-width: 500px) {
    .menu-completo,
    .menu-mini,
    .geoinfo {
      display: none;
    }
  }

a {
    color: white;
    text-decoration: none;
  }

.menu-completo a:hover{ 
    background-color: #1fbbeb;
}

.cifras {
    max-width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: minmax(2%, 10%) auto minmax(2%, 10%);
}

.cifras h2 {
    grid-column: 2/3;
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    color: #44484c;
}

.cifras-list { 
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
}

.cifras-row {
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: 3rem auto;
    column-gap: 1em;
    max-width: 33.3%;
}

.cifras-icon { 
    background-color: seagreen;
    width: 3rem;
    height: 3rem;
}

.cifras-valor { 
    font-size:  3rem;
}

.cifras-texto { 
    grid-column: 2/3;
    grid-row: 2/3;
    text-transform: uppercase;
}

footer {
    background-color: black;
}